.gradient{
    background: linear-gradient(lightblue, lightgray);
}
.logo{
    width: 70%;
}
.fontos{
    border: 2px black solid;
    font: bold 185%/95% Bernard MT, serif;
}
.qty{
    border:2px black solid;
}
.r{
    border-bottom: 2px black solid;
    margin: 10px;
}
.ru{
    margin: 10px;
}
.shadow{
     color:white;
    text-shadow:2px 2px 4px #000000;
}
.kep{
     -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
    transition: width 2s, height 2s, transform 2s;
}
.kep:hover{
    -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(180deg);
}